@media only screen and (min-width: 320px) {
    .tablaCont {
        font-size: 11px;
        color: black !important;
    }

    .tabla
    
    .thDatos {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-right: 2px !important;
        padding-left: 2px !important;
        border-bottom-width: 0px !important;
    }

    .tdDatos {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-right: 2px !important;
        padding-left: 2px !important;
        border-bottom-width: 2px !important;
    }
    
    .imgProdCart {
        height: 76px;
        width: 76px;
    }
}

@media only screen and (min-width: 900px) {
    .tablaCont {
        font-size: 14px !important;
    }

    .imgProdCart {
        height: 96px !important;
        width: 96px !important;
    }
}