.flexboxFooter{
    padding-left: 0px !important;    
    justify-content: center !important;
    margin-top: 10px !important;
    
}

.mapContainer{
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    z-index: 1;
}