.flexboxNavBar {
    background-color: #CAE5FF;    
    justify-content: center;
    
    
}

.menuHeader {
    background-color: #EDF2F7;
}

.botonMenu {
    background-color: #EDF2F7;
}

.botonMenuItem {
    background-color: #EDF2F7;
}

.campoBuscar {
    background-color: #EDF2F7 !important;
    width: 35% !important;
}